.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  display: flex;
  background-color: #4D5E49;
  height: 2.5rem;
  width: 18rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 0.6rem;
  padding: 0 0.75rem;
  color: #f5f5f5;
}

.form-input::placeholder {
  color: darkgray;
}

.form-input:-webkit-autofill,
.form-input:-webkit-autofill:hover, 
.form-input:-webkit-autofill:focus, 
.form-input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #4D5E48 inset !important;
    -webkit-text-fill-color: #f5f5f5;
}

.signup-btn {
  background-color: #5A805C;
  height: 3rem;
  width: 20rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: 1rem;
}

.signup-btn h3 {
  margin: 0;
}

.signup-btn:hover {
  cursor: pointer;
  background-color: #c4c4c4;
  
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}