.title-box {
  font-size: 1rem;
  width: 90%;
  height: 1.7rem;
  padding: 0.1rem;
  margin: 0.5rem;

  background: #7ec1ff;
  border-radius: 15px;
}

.content-box {
  font-size: 1rem;
  width: 90%;
  height: 13rem;
  padding: 0.1rem;
  margin: 0.5rem;

  background: #cfe8ff;
  border-radius: 15px;
}
