.article-box {
  height: 100%;
  border-radius: 8px;
}

.title-box {
  font-size: 1.2rem;
  width: 90%;
  height: 2rem;
  padding: 0.1rem;
  margin: 0.5rem;

  background: #7ec1ff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.content-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  /* height: 13rem; */
  /* 개별 카드 높이 */
  height: 65%;

  padding: 0.1rem;
  margin: 0.5rem;

  background: #cfe8ff;
  border-radius: 8px;
}

.title-content {
  font-size: 1rem;
  padding: 1rem;
}

.footer-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding: 0.1rem;
  margin: 0.5rem;

  background: #a0d1ff;
  border-radius: 5px;
}

.upper-box {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 3.3rem;
}

.order-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 87%;
}

.order {
  width: 150px;
  height: 46px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 35px;
  text-align: center;

  color: #ff0000;
}
