.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.random-card{
  color: #5e454b;
  margin-bottom: 1.5rem;
}

.random-btn {
  padding: 1rem 4rem;
  border: 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: #5f939a;
}

.random-btn:hover {
  background-color: #f2edd7;
  cursor: pointer;
}

.random-btn:hover h1 {
  color: #3a6351;
}