.container {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: space-between;
}

.categories {
  display: flex;
  justify-content: space-between;
}

.category {
  margin: 0 0.6rem;
  width: 3.5rem;
}

.category-btn {
  font-size: 15px;
  padding: 1.2rem;
  height: 12rem;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.category-btn:hover {
  cursor: pointer;
  background-color: #A0937D;
  font-weight: bold;
}

.logout {
  margin-top: 2.5rem;
  margin-left: 6rem;
}

.logout-btn {
  padding: 0.7rem 3.5rem 0.7rem 1.5rem;
  border: none;
  background-color: #F2EDD7;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  font-size: 15px;
}

.logout-btn:hover {
  background-color: #3A6351;
  color: #fff;
  cursor: pointer;
}

.selected .category-btn {
  background-color: #A0937D;
  font-size: 20px;
  font-weight: bold;
  height: 14.5rem;
}